<style type="text/css">
body{margin:8px;}
h2{padding:5px 0;}
h3{padding:10px 0;}
p{padding-left:20px;}
.top0{padding-top:0px;}
</style>
<h2 class="top0">Demo说明：</h2>
<p>搜索绑定：搜索表单直接与Grid进行关联绑定</p>
<p>双击绑定：默认双击绑定事件，在服务端编写</p>
<p>select类型：在Grid列中添加select类型，用来绑定单选或者多选的参数，内置在ligerGrid内如：状态列，数据为0，1，参数列表[{id:0,text:"禁止"},{id:1,text:"通过"}]</p>
<p>color类型：在Grid列中添加color类型，用来显示颜色块，做标签处理，放在EM.js内（不是主要功能）</p>
<p>工具栏过滤：根据Grid选择行进行，1.是否需要选择行、2.是否是单选(或者多选)，请按ctrl多选尝试下，3.根据选择行的数据进行过滤，2行各选次试试看标签设置</p>
<p>确认提示框：工具栏（按钮及菜单）点击后预先触发确认提示框，选中行后点击删除</p>
<p>&nbsp;</p>