<script type="text/javascript">
//直接对result进行修改
parseAuto = false;
</script>
<style type="text/css">
body{margin:8px;}
h2{padding:20px 0;}
h3{padding:10px 0;}
p{padding-left:20px;}
.top0{padding-top:0px;}
</style>
<h2 class="top0">修改说明</h2>
<h3 class="top0">1.base.js</h3>
<p>所有的ID号自动生成，并根据该条件修改了添加和删除的逻辑，并统一了删除和获取对象的逻辑</p>
<h3>2.ligerButton.js</h3>
<p>添加默认宽度，100</p>
<p>给按钮添加鼠标状态</p>
<h3>3.ligerCheckButton.js</h3>
<p>修改了复选按钮的生成逻辑，统一按钮事件及参数</p>
<h3>4.ligerCombox.js</h3>
<p>修正了默认分割参数为“,”，统一设置</p>
<p>添加link（联级下拉框）功能</p>
<p>添加search(搜索下拉框)功能</p>
<h3>5.ligerDateEditor.js</h3>
<p>因为需求灵活，所以添加了第三方日期选择器的调用</p>
<p>添加了验证事件</p>
<h3>6.ligerDialog.js</h3>
<p>添加了关闭前和关闭后事件</p>
<p>修正了打开一个iframe页面操作，添加提交参数的操作</p>
<h3>7.ligerDrag.js</h3>
<p>修正了默认事件绑定的对象，避免子页面调用父页面对象错误</p>
<h3>8.ligerForm.js</h3>
<p>添加了form的管理对象返回函数</p>
<p>添加了form的显示形式：table，row，column，简化设置</p>
<p>修正了生成所有表单对象的逻辑，直接传递options参数，而不是通过添加html属性传递，理由是：事件无法传递</p>
<p>添加了表单的基本验证接口</p>
<p>添加了表单扩展接口，估计原先漏了</p>
<p>添加了form的name的传递</p>
<p>默认表单的主要属性为name，取消id</p>
<p>添加默认隐藏某些表单的属性设置hide</p>
<p>添加了form控制表单对象的显示和隐藏，通过name值操作</p>
<p>统一了分组字段的img和icon的设置，工具栏是该参数，做统一</p>
<p>对分组字段提供按钮组绑定</p>
<p>添加了文本字段显示，不生成表单参与数据传递</p>
<p>添加了提交按钮的接口</p>
<p>添加了表单的统一验证操作，相应表单控件中都添加了验证事件</p>
<p>添加了上传文件的ajax表单提交</p>
<p>添加了设置数据和获取数据的操作</p>
<h3>9.ligerGrid.js</h3>
<p>按需修改了一些默认属性的设置</p>
<p>修正了parms为data，实现属性命名统一</p>
<p>添加rowsdata为数据字段，data为查询的传递字段</p>
<p>添加数组的格式化方式，用于单选及多选数据的自动显示</p>
<p>修正了高度判断的逻辑</p>
<p>添加了不能完整显示字段的tip显示操作，可以通过添加该字段tip属性，实现提示完整信息效果</p>
<p>修正事件绑定的对象，避免子页面调用父页面对象错误</p>
<p>修正了右键菜单的的传递参数，做了统一规范</p>
<h3>10.ligerMenu.js</h3>
<p>修正事件绑定的对象，避免子页面调用父页面对象错误</p>
<p>添加了菜单ID的自动生成</p>
<p>添加了菜单颜色块的显示，页面需要，类似outlook中的分类菜单显示效果</p>
<p>修改了菜单鼠标事件的逻辑，目前还不是很完美</p>
<h3>11.ligerMenuBar.js</h3>
<p>修正了菜单对象的绑定，用于动态的修改菜单设置</p>
<p>做了统一，工具条上也是该同样的实现方式</p>
<h3>12.ligerRadio.js</h3>
<p>和checkbox一样</p>
<p>修改了单选按钮的生成逻辑，统一按钮事件及参数</p>
<h3>13.ligerTab.js</h3>
<p>添加移除页面并切换到父页面显示的函数</p>
<p>修正了打开iframe的操作，支持参数提交，并修改了刷新操作</p>
<p>添加了父页面的绑定，已实现自动的页面关联跳转</p>
<p>修改了覆盖页面的操作，通过移除并添加的方式，因为iframe的操作有问题，做了简化处理</p>
<h3>14.ligerTextBox.js</h3>
<p>添加了text属性，支持固定文本，不显示文本框，也就是只读</p>
<p>添加了只读操作的设置_setText,以符合text属性的设置</p>
<h3>15.ligerToolBar.js</h3>
<p>添加了移除工具按钮的操作</p>
<p>添加了可用和不可用的设置操作</p>
<p>添加了判断是否可用的设置操作</p>
<p>添加了菜单的绑定，和menubar一致</p>
<p>添加了id号自动生成，和menu一致</p>
<p>添加了color的显示，和menu一致</p>
<h3>16.ligerTree.js</h3>
<p>添加了一个属性needCancel</p>
<p>用于在做导航中对于已选中的导航不做取消操作</p>

<h2>其他修改</h2>	
<p>添加了下移按钮的图标</p>
<p>按需修改了样式，主要是按钮和表单和工具条</p>
<h3>添加了2个表单控件</h3>
<p>1.文本域表单，并扩展了第三方编辑框：ueditor(百度编辑器，觉得这个比较好用，现在的功能也差不多)</p>
<p>2.上传文件表单，实现图片的预览，及指定删除操作事件（否则文件框的取消需要再建一个字段做判断，不符合逻辑，所以添加了该操作）</p>

<h2>统一了一些属性含义</h2>
<p>param是参数列表，需要从操作中获取当前值</p>
<p>data是数据的键值对，直接用于数据的默认传递</p>
<p>用户美化的设置统一为：img，icon，color，主要是工具栏和菜单，form中的group则只有img和icon</p>
<p>分割字符串：split，统一为","</p>
<p>统一了新开页面：iframe的参数url和data，data都是post提交</p>