/* 按钮 */
.l-button{line-height:25px;height:25px;background:url('../images/ui/button1.gif') repeat-x; position:relative; margin-top:8px; margin-bottom:8px;color:#2C69A2; width:120px; cursor:pointer; border:none; color:#2C69A2; border-left:1px solid #BFCFE1; border-right:1px solid #BFCFE1;border-bottom:1px solid #BFCFE1;}
.l-button-l,.l-button-r{ width:2px;height:25px;background:url('../images/ui/button1.gif') no-repeat; position:absolute; }
.l-button-l{ left:0px; background-position:0px -25px;}
.l-button-r{ right:0px;background-position:0px -50px;}
.l-button-icon{ position:absolute; left:7px; top:6px;}
.l-button img{ width:16px; height:16px;}
.l-button span{ display:block; margin-left:30px; } 
 
 .l-buttonnoicon span{ margin-left:8px; } 
 
 
.l-button2,.l-button2 .l-button-l,.l-button2 .l-button-r{background-image:url('../images/ui/button2.gif'); line-height:23px; height:23px; color:#333;}
.l-button2 .l-button-icon{   top:4px;}
.l-button2 .l-button-l,.l-button2 .l-button-r{ background-position:0px -23px;}



.l-button-over, .l-button:hover {
background:#E4EDF4 url(../images/ui/button-over.gif) repeat-x top;
border: none; border-left:1px solid #BFCFE1; border-right:1px solid #BFCFE1;border-bottom:1px solid #BFCFE1;
}


.l-btn,.l-btn-over,.l-btn-l,.l-btn-r{background-image:url('../images/win/dialogbtn.gif');}
.l-btn,.l-btn-over{background-repeat:repeat-x;}
.l-btn-l,.l-btn-r{background-repeat:no-repeat;}


.l-btn{ height:25px; overflow:hidden;line-height:25px; cursor:pointer; position:relative; float:left; margin-right:5px;font-weight:normal;}
.l-btn{background-position:0px -25px;}
.l-btn-disabled,.l-btn-over{ background-position:0px -75px;}
.l-btn-disabled{cursor:default;}
.l-btn-l{ height:25px; position:absolute; left:0px; top:0px; width:3px;background-position:0px 0px;}
.l-btn-disabled .l-btn-l,.l-btn-over .l-btn-l{background-position:0px -50px;}
.l-btn-r{ height:25px; position:absolute; right:0px; top:0px; width:3px;background-position:-4px 0px;}
.l-btn-disabled .l-btn-r,.l-btn-over .l-btn-r{background-position:-4px -50px;}
.l-btn-inner{ text-align:center;}
.l-btn-disabled .l-btn-inner{color:#ccc;}